
*{
    padding:0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Oswald&family=Outfit&display=swap');

body{
    background-color:hsl(219, 69%, 81%);
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    
}
.container{
    border-radius: 10px;
    padding: 20px;
    margin-top:50px;

    width: 450px;
    height: 600px;
    background-color: white;
   
}
.image img{
    border-radius: 10px;


    max-width: 100%;
}
    
.text{
    margin:15px;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Outfit', sans-serif;
    text-align: center;

    


}
.text h1{
    color:rgb(0, 0, 41)
}
.text p{
 margin:10px;
}